<h1>Заказ #<%= @order.id %></h1>

<% @order.products.each do |product| %>
  <%= product.name %>
  </br>
<% end %>

<h2>Адрес доставки: <%= @order.delivery_address %></h2>

<%= form_with url: calculate_route_path(id: @order.id), method: :get do |form| %>
  <%= form.hidden_field :id, value: @order.id %>

  <%= form.label :start_address, 'Ваш текущий адрес' %>
  <%= form.text_field :start_address %>

  <%= form.submit 'Рассчитать маршрут' %>
<% end %>
